apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    {{- templates "labels"}}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "labels" | indent 3 }}
  template:
    metadata:
      labels:
        {{- include "labels" | indent 4 }}
    spec:
      containers:
      - image: nginx
        name: nginx
        ports:
        - containerPort: 80