apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    {{- include "labels" | indent 2 }}
  ports:
  - name: 80-80
    port: 80
    protocol: TCP
    targetPort: 80
  type: NodePort